<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8da6df">  <td>14/03/11 16:13:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateTaskTest.CreatTask()[pri:0, instance:lqdt.wms.tests.CreateTaskTest@632cc460]">CreatTask</td> 
  <td>main@1250328493</td>   <td></td> </tr>
<tr bgcolor="8da6df">  <td>14/03/11 16:12:59</td>   <td>-8423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateTaskTest.IMSLogin()[pri:0, instance:lqdt.wms.tests.CreateTaskTest@632cc460]">&gt;&gt;IMSLogin</td> 
<td>&nbsp;</td>  <td>main@1250328493</td>   <td></td> </tr>
<tr bgcolor="7a6ab7">  <td>14/03/11 16:12:59</td>   <td>-8432</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeClass()[pri:0, instance:lqdt.wms.tests.CreateTaskTest@632cc460]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1250328493</td>   <td></td> </tr>
</table>
